nav {
     background-color: #2980b9;
     text-align: start;
     padding: 3px;
     margin: 0 10px;
   }
   header {
     text-align: center;
     background-color: #3498db;
     padding-bottom: 10px;
   }
   #mainAside {
     display: inline-flex;
     width: 100%;
   }
   
   #main {
     background-color: #f1c40f;
     width: 70%;
   }
   #aside {
     background-color: #e74c3c;
     width: 30%;
     text-align: center;
     padding-bottom: 10px;
   }
   
   #aside section {
     height: 200px;
     background-color: #c0392b;
     margin: 10px 10px 5px 10px;
   }
   #aside :nth-child(3) {
     height: 150px;
   }
   #main section {
     background-color: #f39c12;
     padding: 0 10px;
     margin: 0 10px;
   }
   
   #firstSec {
     background-color: #f39c12;
     height: 150px;
     padding: 0 10px;
   }
   .section2 {
     height: 120px;
     background-color: #f39c12;
   }
   
   #main article {
     background-color: #e67e22;
     height: 50px;
     text-align: center;
     justify-content: center;
   }
   #artSec {
     height: 200px;
   }
   footer {
     background-color: #2ecc71;
     text-align: center;
     padding: 20px;
   }